@import "../../index";

/* Additional styling for blog post, img and title */


article {
    opacity: 0;
    animation: slideLeft 2s forwards;
    .blog-img {
        width: 75%;
        max-width: 600px;
    }
    h3 {
        color: $primary-color;
        font-size: 32px;
    }
    .blog-post {
        font-size: 19px;
    }
}

@media screen and (min-width: $desktop) {
    article {
        opacity: 0;
        animation: slideLeft 2s forwards;
        .blog-img {
            width: 75%;
            max-width: 750px;
        }
        h3 {
            color: $primary-color;
            font-size: 40px;
        }
        .blog-post {
            font-size: 22px;
        }
    }
}